/* Widget */

.container {
    margin: 1em;
    flex: 1 1 calc(333px - 2em);
    border: 1px solid #222;
    background: #fff;
    box-shadow: 0 7.5px 17.5px rgba(50,50,93,.1), 0 2.5px 7.5px rgba(0,0,0,.07);
}
.header {
    border-bottom: 1px solid #222;
}
.header h3 {
    margin: 0;
    font-weight: 300;
    padding: 0.4em 0;
    text-transform: uppercase;
    background: #222;
    color: #fff;
}

.main {
    padding: 1em 0 0.5em;
}

.mainStat {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}
.currentValue {
    font-size: 3.5em;
}
.unit {
    font-size: 1.5em;
    padding-left: 0.5em;
}
.minorStatsContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.minorStat {
    margin: 0.75em 0;
    padding: 0.75em 0;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.minorStat span {
    color: #aaa;
    text-transform: uppercase;
    font-size: 0.66em;
    margin-top: 0.2em;
}

.minorStat:first-child {
    border-right: 1px solid #aaa;
}

.minorStat::before, .minorStat::after {
    content: '';
    display: block;
    height: 1px;
    width: 90%;
    background: #aaa;
    position: absolute;
}

.minorStat::before {
    bottom: 0;
}
.minorStat::after {
    top: 0;
}

.minorStat:first-child::before, .minorStat:first-child::after {
    right: 0;
}
.minorStat:last-child::before, .minorStat:last-child::after {
    left: 0;
}

.footer {
    font-size: 0.66em;
    font-weight: 100;
}
