click==6.7
coverage==4.4.2
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mypy==0.560
numpy==1.13.3
pandas==0.22.0
pipdeptree==0.10.1
psutil==5.4.3
python-dateutil==2.6.1
pytz==2017.3
six==1.11.0
typed-ast==1.1.0
Werkzeug==0.13
