/* Panel */

.container {
    border: black 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1em;
    box-shadow: 0 7.5px 17.5px rgba(50, 50, 93, .1), 0 2.5px 7.5px rgba(0, 0, 0, .07);
    overflow: hidden; /* bug when using box-shadow with border radius */
}

.header {
    margin: 0;
    padding: 0.3em 0;
    text-transform: uppercase;
    background: #222;
    color: white;
    font-weight: 300;
}

.body {
    padding: 1em;
    background: white;
}